IMPORTING REQUIRED LIBRARIES

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

LOADING A DATASET

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data=pd.read_csv("Company_data.csv")
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
#checking the statistics of the dataset
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
#giving info of datatypes in dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [ ]:
#checking the null values
data.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [ ]:
#dropping the null values
data.dropna()

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [ ]:
#giving the data of index value from upto 10 columns
data[0:10]

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9
5    8.7   48.9       75.0    7.2
6   57.5   32.8       23.5   11.8
7  120.2   19.6       11.6   13.2
8    8.6    2.1        1.0    4.8
9  199.8    2.6       21.2   15.6

In [ ]:
#checking the correlation between every column
data.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.901208
Radio      0.054809  1.000000   0.354104  0.349631
Newspaper  0.056648  0.354104   1.000000  0.157960
Sales      0.901208  0.349631   0.157960  1.000000

In [ ]:
#IMPORTING THE DATA OF TV AND SALES as x AND y
x=data["TV"].values
y=data["Sales"].values

In [ ]:
#checking datatypes of x and y
type(x),type(y)

(200,) (200,)

In [ ]:
#checking the shape of x and y
print(x.shape,y.shape)

(200,) (200,)

In [ ]:
#reshaping x and y
x=x.reshape(-1,1)
y=y.reshape(-1,1)
print(x.shape,y.shape)

(200, 1) (200, 1)

In [42]:
#splitting the train and test data
from sklearn.model_selection import train_test_split
train_x,test_x,train_y, test_y=train_test_split(x,y,test_size=0.3,random_state=0)

In [45]:
#prearing and training model
from sklearn import linear_model
z=linear_model.LinearRegression() 
z.fit(train_x,train_y)

LinearRegression()

In [50]:
#calculating mse,r2 score,mae
y_pred=(z.predict(test_x))
print(f'MAE = {mean_absolute_error(test_y, y_pred)}')
print(f'MSE = {mean_squared_error(test_y, y_pred)}')
print(f'RMSE = {np.sqrt(mean_squared_error(test_y, y_pred))}')
print(f'R_2 = {r2_score(test_y, y_pred)}')

MAE = 1.8639438916550555
MSE = 5.569539193467241
RMSE = 2.3599871172248466
R_2 = 0.8150168765722069

In [ ]:
print( np.linspace(min(x), max(x)).reshape(-1,1))